<div class="card text-white bg-primary mb-3" style="max-width: 60rem;">
    <div class="card-header">Postulat</div>
    <div class="card-body">
      <h4 class="card-title">Tytuł postulatu</h4>
      <p class="card-text">Skrócona treść postulatu maksymalnie do 840 znaków tak aby przyciągnąć wzrok</p>
    </div>
    <div>
        <button type="button" class="btn btn-success mr-2 ml-2" style="width: 25%;">Za (ilość)</button>
        <button type="button" class="btn btn-danger" style="width: 25%;">Przeciw (ilość)</button>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-secondary m-2">16+</button>       
        <button type="button" class="btn btn-info m-2">18+</button>
        <button type="button" class="btn btn-warning m-2">Wulgaryzmy</button>  
        <button type="button" class="btn btn-light m-2">Light</button>
        <button type="button" class="btn btn-dark m-2">Drastyczne</button>
    </div>
    
</div>
  <div class="card-body">
    <h4 class="card-title">Duskusja</h4>
    <p class="card-text">Komentarz1</p>
  </div>